body {
    background-color: #e6ecef;
    overflow-x: hidden;
}

/* Styling the Navigation Bar */
.container-fluid {
    padding-top: 15px;
    background-color: white;
}

.nav {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0px 2px 2px #dbdbdb;
}

.nav li a {
    text-decoration: none;
    color: #969494;
}

.nav li a:hover {
    color: #1da1f2;
}

.nav li {
    float: left;
    margin-left: 20px;
    padding: 6px 9px;
    font-weight: bold;
}

.nav li:hover {
    border-bottom: 3px solid #1da1f2;
}

.noti {
    border-bottom: 3px solid #1da1f2;
}

.fa {
    font-size: 1.2em;
}

.fa-twitter {
    font-size: 1.5em;
    color: #1da1f2;
}

.photo {
    border-radius: 50%;
}

.dropdown-toggle {
    margin-right: 25px;
    margin-left: -20px;
}

.textfield {
    background-color:#eaf9ff;
}

#myTweet h5 {
    font-weight: bold;
    padding-left: 120px;
}

.text_btn {
    border-radius: 500px;
    background-color: #49b9ff;
    color: white;
    font-weight: bold;
    width: 5em;
    cursor: pointer;
}

@media screen and (max-width: 1028px) {
    .dropdown-toggle {
        margin-left: -10px;
    }

    .tweet {
        margin-left: -20px;
        margin-top: 20px;
    }

    #myTweet h5 {
        font-weight: bold;
        padding-left: 80px !important;
    }
}

.tweet {
    border-radius: 500px;
    border-color: #49b9ff;
    background-color: #49b9ff;
    width: 5em;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #1da1f2;
    color: white !important;
}

/* Styling the main content */

.main_content {
    padding-top: 10px;
    padding-bottom: 20px;
}

.main_content p {
    font-size: 0.7em;
}

.main_content h5 {
    font-weight: bold;
}
/* Who to follow section Styling */
.follow_btn {
    border: 1px solid #49b9ff;
    background-color: white;
    color: #49b9ff;
    font-weight: bold;
    border-radius: 500px;
    width: 8em;
    font-size: 0.7em;
    cursor: pointer;
}

.follow_btn:hover {
    background-color: #eaf9ff;
}

.follow_title {
    padding-bottom: 10px;
    font-weight: bold;
}

.follow_email {
    font-size: 0.9em;
    color: #9e9e9e;
}

.follow_name {
    color: black !important;
}

.follow_name:hover {
    color: #3fa8ff !important;
}

.profile_img {
    width: 40px;
    height: 35px;
    border-radius: 500px;
    margin-bottom: 10px;
}

.user_name {
    font-size: 0.9em;
    padding-left: 20px;
}

.col-1 {
    color: black !important;
    margin-top: -10px;
    padding-bottom: 20px;
}
