body {
    background-color: #e6ecef;
}

.container-fluid {
    padding-top: 15px;
    background-color: white;
}

.nav {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0px 2px 2px #dbdbdb;
}

.home a {
    color: #1da1f2 !important;
}

.nav li a {
    text-decoration: none;
    color: #969494;
}

.nav li a:hover {
    color: #1da1f2;
}

.nav li {
    float: left;
    margin-left: 20px;
    padding: 6px 9px;
    font-weight: bold;
}

.badge-danger {
    font-size: 12px;
    background-color: #ef1f48;
}

.nav li:hover {
    border-bottom: 3px solid #1da1f2;
}

.home {
    border-bottom: 3px solid #1da1f2;
}

.fa {
    font-size: 1.2em;
}

.fa-twitter {
    font-size: 1.5em;
    color: #1da1f2;
}

.container {
    padding-top: 15px;
}

.photo {
    border-radius: 50%;
}

.dropdown-toggle {
    margin-right: 25px;
    margin-left: -20px;
}

@media screen and (max-width: 1028px) {
    .dropdown-toggle {
        margin-left: -10px;
    }

    .tweet {
        margin-left: -20px;
        margin-top: 20px;
    }

    #myTweet h5 {
        font-weight: bold;
        padding-left: 80px !important;
    }   

    .tweet_email {
        font-size: 0.9em;
        margin-left: -20px !important;
        margin-top: 2px;
        color: #9e9e9e;
    }

    .tweet_date {
        font-size: 0.9em;
        margin-left: -40px !important;
        margin-top: 2px;
        color: #9e9e9e;
    }

    .tweet_name {
        font-size: 1em;
        color: black;
        font-weight: bold;
        margin-left: 20px;
    }

    .tweet_text {
        font-size: 0.9em;
        margin-left: 22px;
    }
}

.tweet {
    border-radius: 500px;
    border-color: #49b9ff;
    background-color: #49b9ff;
    width: 5em;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #1da1f2;
    color: white !important;
}

.pic {
    margin-top: -30px;
    margin-left: 10px;
}

.profile_name {
    margin-left: 110px;
    margin-top: -46px;
    margin-bottom: 10px;
}

.profile_name a {
    color: black;
}

.profile_name p {
    font-size: 14px;
    margin-top: -7px;
}

.total_tweets p {
    font-size: 13px;
    font-weight: bold;
    color: #919191;
}

.tweets {
    padding-left: 30px;
}

.following p {
    margin-left: -5px;
}

.followers p {
    margin-left: -8px;
}

.numbers {
    margin-top: -14px;
    color: #1da1f2 !important;
    font-size: 1.3em;
}

.textfield {
    background-color:#eaf9ff;
}

#myTweet h5 {
    font-weight: bold;
    padding-left: 120px;
}

.text_btn {
    border-radius: 500px;
    background-color: #49b9ff;
    color: white;
    font-weight: bold;
    width: 5em;
    cursor: pointer;
}

.text_pic {
    margin-left: 12px;
}

.follow_btn {
    border: 1px solid #49b9ff;
    background-color: white;
    color: #49b9ff;
    font-weight: bold;
    border-radius: 500px;
    width: 8em;
    font-size: 0.7em;
    cursor: pointer;
}

.follow_btn:hover {
    background-color: #eaf9ff;
}

.follow_title {
    padding-bottom: 10px;
    font-weight: bold;
}

.follow_email {
    font-size: 0.9em;
    color: #9e9e9e;
}

.follow_name {
    color: black !important;
}

.follow_name:hover {
    color: #3fa8ff !important;
}

.ads p, a {
    font-size: 0.8em;
}

.ads {
    margin-top: 15px;
}

.tweet_email{
    font-size: 0.9em;
    margin-left: -85px;
    margin-top: 2px;
    color: #9e9e9e;
}

.tweet_date {
    font-size: 0.9em;
    margin-left: -155px;
    margin-top: 2px;
    color: #9e9e9e;
}

.tweet_name {
    font-size: 1em;
    color: black;
    font-weight: bold;
}

.tweet_text {
    font-size: 0.9em;
}

.list-inline {
    padding-left: 90px;
}

.list-inline-item {
    padding-right: 10px;
    color: #777777;
}

.like_color {
    color: red;
}

.fa-retweet, .heart {
    color: #777777;
}
