{% extends "base.html" %}
{% block head %}
<title>Timeline</title>
<link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}">
{% endblock %}

{% block content %}

<body>
    <!-- Contends of the Navigation bar-->
    <div class="container-fluid">
        <div class="row nav">
            <div class="col-sm-4 col-4 col-md-4">
                <ul class="list-unstyled">
                    <li class="home"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="{{ url_for('notifications', username=current_user.username) }}"><i class="fa fa-bell-o">
                    </i> Notifications
                    {% if total_notifications != 0 %}
                    <span class="badge badge-danger">{{ total_notifications }}</span>
                    {% endif %}
                    </a></li>
                </ul>
            </div>
            <!--Creating the twitter icon on navbar-->
            <div class="col-sm-4 col-4 col-md-4">
                <div class="row">
                    <div class="col-sm-3 mx-auto">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <!--Displaying the profile info on timeline at left hand side-->
            <div class="col-sm-4 col-4 col-md-4">
                <div class="row">
                    <div class="col-sm-6 ml-auto">
                        <a class="photo dropdown-toggle" data-toggle="dropdown"><img src="{{ profile_url }}" alt="" width="44" height="40" class="photo"></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item font-weight-bold">{{ current_user.username }}</a>
                            <a href="#" class="dropdown-item text-secondary">@{{ current_user.email[:-10] }}</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item text-secondary">Profile</a>
                            <a href="#" class="dropdown-item text-secondary">Help Center</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ url_for('logout') }}" class="dropdown-item text-secondary">Logout</a>

                        </div>
                        <button class="btn btn-info tweet" data-toggle="modal" data-target="#myTweet" type="button">
                        Tweet</button>
                        <!--Creating modal for tweet button on navigation bar-->
                        <div class="modal fade" id="myTweet">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Compose new Tweet</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times</button>
                                    </div>
                                    <div class="modal-body textfield">
                                        <div class="row">
                                            <div class="col-2 col-sm-2">
                                                <img src="{{ profile_url }}" alt="#" width="60" height="55" class="photo text_pic">
                                            </div>
                                            <div class="col-10 col-sm-10">
                                                {% from "_formhelpers.html" import render_field %}
                                                <form action="{{ url_for('timeline', username=current_user.username) }}" method="POST">
                                                    {{ form.hidden_tag() }}
                                                    {{ render_field(form.tweet, class="form-control", rows="3", placeholder="What's happening?") }}

                                                    <button class="btn text_btn float-right" type="submit">Tweet</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Contends of the timeline-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!--Creating the profile info part of the timeline-->
                <div class="card">
                    <img src="{{ header_url }}" alt="#" width="100%"
                     height="100">
                     <img src="{{ profile_url }}" alt="#" width="86" height="80"
                     class="photo pic">
                     <div class="profile_name">
                         <h5><a href="{{ url_for('profile', username=current_user.username) }}">{{ current_user.username }}</a></h5>
                         <p><a href="#" class="text-secondary">@{{ current_user.email[:-10] }}</a></p>
                     </div>
                     <div class="row total_tweets">
                         <div class="col-sm-4 col-4 tweets">
                         <p>Tweets</p>
                         <p class="numbers">{{ total_attrib[0] }}</p>
                         </div>
                         <div class="col-sm-4 col-4 following">
                         <p>Following</p>
                         <p class="numbers">{{ total_attrib[1] }}</p>
                         </div>
                         <div class="col-sm-4 col-4 followers">
                         <p>Followers</p>
                         <p class="numbers">{{ total_attrib[2] }}</p>
                         </div>
                     </div>
                </div>
            </div>
            <!--Creating the posting tweet input of timeline-->
            <div class="col-sm-6">
                <div class="card textfield">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="{{ profile_url }}" alt="" width="44" height="40" class="photo text_pic">
                            </div>
                            {% from "_formhelpers.html" import render_field %}
                            <div class="col-sm-10">
                                <form action="{{ url_for('timeline', username=current_user.username) }}" method="POST">
                                    {{ form.hidden_tag() }}
                                    {{ render_field(form.tweet, class="form-control", rows="3", placeholder="What's happening?") }}

                                    <button class="btn text_btn float-right" type="submit">Tweet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Displaying the Total number of self-made tweets in timeline page-->
                {% for tweet in tweets %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 col-sm-2">
                                <img src="{{ profile_url }}" alt="" width="60" height="55" class="photo text_pic">
                            </div>
                            <div class="col-10 col-sm-10">
                                <div class="row">
                                    <div class="col-4 col-sm-4"><a href="#" class="tweet_name">{{ current_user.username }}</a></div>
                                    <div class="col-4 col-sm-4"><p class="tweet_email">@{{ current_user.email[:-10] }}</p></div>
                                    <div class="col-4 col-sm-4"><p class="tweet_date">-{{ tweet.date }}</p></div>
                                </div>
                                <p class="tweet_text">{{ tweet.tweet }}</p>
                            </div>
                        </div>
                        <!--Creating Tweet likes and retweet-->
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-retweet"></i></a>&nbsp {{ tweet.retweet }}</li>
                                    <li class="list-inline-item"><a href="#" id="{{ tweet.id }}" class="heart" onclick="sendLikes(this)"><i class="fa fa-heart"></i></a>&nbsp {{ tweet.likes }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--Displaying total number of following user tweets-->
                {% for user_tweets in following_tweets %}
                {% for tweets in user_tweets[0] %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 col-sm-2">
                                <img src="{{ user_tweets[1] }}" alt="" width="60" height="55" class="photo text_pic">
                            </div>
                            <div class="col-10 col-sm-10">
                                <div class="row">
                                    <div class="col-4 col-sm-4"><a href="{{ url_for('profile', username=tweets.username) }}" class="tweet_name">{{ tweets.username }}</a></div>
                                    <div class="col-4 col-sm-4"><p class="tweet_email">@{{ tweets.email[:-10] }}</p></div>
                                    <div class="col-4 col-sm-4"><p class="tweet_date">-{{ tweets.date }}</p></div>
                                </div>
                                <p class="tweet_text">{{ tweets.tweet }}</p>
                            </div>
                        </div>
                        <!--Creating Tweet likes and retweet-->
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-retweet"></i></a>&nbsp {{ tweets.retweet }}</li>
                                    <li class="list-inline-item"><a href="#" id="{{ tweets.id }}" class="heart" onclick="sendLikes(this)"><i class="fa fa-heart"></i></a>&nbsp {{ tweets.likes }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>

            <!--Creating Who to follow section-->
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="follow_title">Who to follow</h5>
                        {% for user in display_users %}
                        <div class="row">
                            <div class="col-sm-3 col-3">
                                <img src="{{ user[2] }}" alt="" width="44" height="40" class="photo">
                            </div>
                            <div class="col-sm-9 col-9">
                                <a href="{{ url_for('profile', username=user[0].username) }}" class="follow_name"><h6><span id="name">{{ user[0].username }}</span> <span class="follow_email">
                                @{{ user[0].email[:-10] }}</span></h6></a>
                                <button class="btn follow_btn" type="button" id="{{ user[0].username }}"
                                onclick="sendName(this)">{{ user[1] }}</button>

                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
                <!--Creating Ads and privacy policy-->
                <div class="card ads">
                    <div class="card-body">
                        <p class="text-secondary">© 2017 Twitter About Help CenterTerms Privacy policy Cookies Ads info Brand Blog Status Apps Jobs Marketing Businesses Developers</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Advertise with Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='follow.js') }}"></script>
</body>

{% endblock %}